<ng-container *ngIf="statusHalaman == 'upload'">
  <mat-card class="mat-box-shadox-none">
    <div class="style-upload-text">
      <mat-card-title><h1>Image to PDF</h1></mat-card-title>
      <mat-card-subtitle>Merubah file gambar ke bentuk PDF.</mat-card-subtitle>
    </div>
    <mat-card-content>
      <app-upload [mimeType]="'image'"></app-upload>
    </mat-card-content>
  </mat-card>
</ng-container>

<ng-container *ngIf="statusHalaman == 'download'">
  <app-download [paramDonwload]="dataDownload"></app-download>
</ng-container>

<ng-container *ngIf="statusHalaman == 'statusUpload' || statusHalaman == 'proses'">
  <app-proses [mode]="(statusHalaman == 'statusUpload' ? 'determinate' : 'indeterminate')"></app-proses>
</ng-container>
