<mat-card class="mat-box-shadox-none">
  <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let item of data">
          <h3 matLine>{{splitData(item,'label') | titlecase}}</h3>
          <p matLine class="text-muted">{{splitData(item,'data')}}</p>
        </mat-list-item>
      </mat-list>
  </mat-card-content>
</mat-card>
