<mat-card class="mat-box-shadox-none">
  <mat-card-content>
    <div style="text-align:center">
      <br>
      <button mat-raised-button color="primary" class="button-download" (click)="download()">Download
      </button>
    </div>
  </mat-card-content>
</mat-card>
