<!-- ============================================================== -->
<!-- Fixed height Card Grid-->
<!-- ============================================================== -->
<div fxLayout="row">
		<div fxFlex.gt-sm="100%" >
				<!-- <mat-card>
						<mat-card-content>
							<mat-card-title>Basic Tooltip</mat-card-title>
							<mat-card-subtitle>The Angular Material tooltip provides a text label that is displayed when the user hovers over or longpresses an element. add <code>matTooltip="yourtext"</code> to any element </mat-card-subtitle>
								<span matTooltip="Tooltip!">I have a tooltip</span>
						</mat-card-content>
				</mat-card> -->

        <button (click)="add()">Add</button> <button (click)="shuffle()">Shuffle</button><br />
        <ul class="example-list">
          <li *ngFor="let item of items">{{ item }}</li>
        </ul>

        <div #dropListContainer class="example-container" cdkDropListGroup>
          <div *ngFor="let item of items; let i = index" cdkDropList [cdkDropListData]="i">
            <div cdkDrag [cdkDragData]="i" (cdkDragEntered)="dragEntered($event)" (cdkDragMoved)="dragMoved($event)"
              (cdkDragDropped)="dragDropped($event)" class="example-box">
              {{ item }}
            </div>
          </div>
        </div>
		</div>
</div>

