.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

/*
 * This padding sets alignment of the nested nodes.
 */
.example-tree .mat-nested-tree-node div[role=group] {
  padding-left: 40px;
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
.example-tree div[role=group] > .mat-tree-node {
  padding-left: 40px;
}


.example-full-width {
  width: 100%;
  height: 80vh;
}

// ::ng-deep .mat-form-field-flex {
//     display: inline-flex;
//     align-items: baseline;
//     box-sizing: border-box;
//     width: 100%;
//     height: 70vh !important;
// }