<h1>JSON View</h1>
<mat-card class="mat-box-shadox-none">
    <mat-card-content>
        <mat-tab-group mat-align-tabs="start"  (selectedTabChange)="onTabChanged($event)"  [(selectedIndex)]="selectActiveIndex">
            <mat-tab >
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">text_snippet</mat-icon>
                </ng-template>
                <form [formGroup]="formInsert">
                    <mat-form-field class="example-full-width" style="height: 75vh;">
                        <textarea matInput placeholder="Json Data" formControlName="dataJson"  style="height: 65vh !important;"></textarea>
                    </mat-form-field>
                </form>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">view_list</mat-icon>
                </ng-template>
                <ngx-json-viewer [json]="tmpDataJson"></ngx-json-viewer>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>
