<ng-container *ngIf="statusHalaman == 'upload'">
  <mat-card class="mat-box-shadox-none">
    <div class="style-upload-text">
      <mat-card-title>
        <h1>Extract Matadata</h1>
      </mat-card-title>
      <mat-card-subtitle>Mengambil data internal file gambar.</mat-card-subtitle>
    </div>
    <mat-card-content>
      <app-upload [mimeType]="'image'"></app-upload>
    </mat-card-content>
  </mat-card>
</ng-container>

<ng-container *ngIf="statusHalaman == 'statusUpload' || statusHalaman == 'proses'">
  <app-proses [mode]="(statusHalaman == 'statusUpload' ? 'determinate' : 'indeterminate')"></app-proses>
</ng-container>

<ng-container *ngIf="statusHalaman == 'showText'">
  <app-list-text [data]="hasilProses"></app-list-text>
</ng-container>
