<mat-card class="mat-box-shadox-none">
  <mat-card-content>
    <div class="center-spinner">
        <mat-progress-spinner class="example-margin" [color]="color" [mode]="mode" [value]="value">
        </mat-progress-spinner>
    </div>
    <div style="text-align:center">
      <br>
      <h4 class="m-t-0 " style="color: blue;" *ngIf="status == 'statusUpload' && value < 100">Progress Upload .... ({{value}}%)</h4>
      <h4 class="m-t-0 " style="color: blue;" *ngIf="status == 'statusUpload' && value >= 100">Upload Selesai, Mengalihkan ....</h4>
      <h4 class="m-t-0 " style="color: blue;" *ngIf="status == 'proses'">Proses File ...</h4>
      <h4 class="m-t-0 " style="color: blue;" *ngIf="status == 'dowwnload'">Download File ....</h4>
    </div>
  </mat-card-content>
</mat-card>

