<mat-card class="mat-box-shadox-none">
    <ngx-dropzone (change)="onSelect($event)" class="pos-dropzone" [accept]="acceptMime">
        <ngx-dropzone-label class="button-dropzone position-button-uppload" >Pilih File atau Seret dan Drop File</ngx-dropzone-label>
    </ngx-dropzone>
</mat-card>

