
<ng-container>
  <mat-card class="mat-box-shadox-none">
    <div class="style-upload-text">
      <mat-card-title>
        <h1>Image to Base 64</h1>
      </mat-card-title>
      <mat-card-subtitle>Proses gambar ke encode Base 64.</mat-card-subtitle>
    </div>
    <mat-card-content>
      <app-upload [mimeType]="'image'"></app-upload>
    </mat-card-content>
  </mat-card>


  <mat-card class="mat-box-shadox-none" *ngIf="statusHalaman !='upload'">
    <mat-card-content>
        <ng-container *ngFor="let item of hasilProses">
          <div style="margin-bottom: 1rem;text-align: right;">
              <button mat-raised-button ngxClipboard *ngxClipboardIfSupported [cbContent]="item" (cbOnSuccess)="copied($event)">
                Copy
              </button>
          </div>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Base 64</mat-label>
            <textarea matInput >{{item}}</textarea>
          </mat-form-field>
        </ng-container>

    </mat-card-content>
  </mat-card>
</ng-container>
