<h1>Home</h1>
<div fxLayout="row wrap">
    <ng-container  *ngFor="let item of menuItems.getMenuitem()" >
      <div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100" *ngIf="item.state !='dashboard'">
        <mat-card class="oh text-center little-profile">
          <mat-card-content>
            <h2 class="m-b-0">{{item.name}}</h2>
            <h6 class="m-t-0 ">{{item.deskripsi}}</h6>
            <mat-card-actions>
              <button mat-raised-button color="primary" routerLink="{{item.url}}" title="{{item.name}}">GO</button>
            </mat-card-actions>
          </mat-card-content>
        </mat-card>
      </div>
    </ng-container>
</div>

