/* You can add global styles to this file, and also import other style files */
.button-dropzone {
  background-color: green;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 90%;
}

.pos-dropzone {
  border: none !important;
}

.mat-box-shadox-none{
  box-shadow: none;
}

.style-upload-text{
  text-align:center;
  padding-top: 3%;
}
.center-spinner {
  margin-left: 45%;
}
