<mat-card>
    <mat-card-content>
        <form [formGroup]="formFilter">
            <mat-form-field appearance="fill" style="width: 18rem;">
                <mat-label>Halaman Yang dihapus </mat-label>
                <input type="text" matInput formControlName="halamanHapus">
            </mat-form-field>
        </form>
        <button mat-raised-button color="primary" class="button-proses" (click)="prosesData()">Proses Data
        </button>
    </mat-card-content>
</mat-card>



