<div fxLayout="row " >
  <div fxFlex="18%" fxFlex.xs="100%" fxFlex.sm="33%" >
    <div #dropListContainer class="example-container" cdkDropListGroup>
      <div *ngFor="let itemFile of listFile; let i = index" cdkDropList [cdkDropListData]="i">
        <div cdkDrag [cdkDragData]="i" (cdkDragEntered)="dragEntered($event)" (cdkDragMoved)="dragMoved($event)"
          (cdkDragDropped)="dragDropped($event)" class="example-box">
            <mat-card class="mat-elevation-z4">
              <mat-checkbox (click)="$event.stopPropagation()" [checked]="selection.isSelected(i)"
                (change)="$event ? checkMe(i) : null" [color]="'primary'" class="checkbox-style">
              </mat-checkbox>
              <img #imageEl [src]="itemFile" class="imgcenter" />
            </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
