<ng-container *ngIf="statusHalaman == 'upload'">
  <mat-card class="mat-box-shadox-none">
    <div class="style-upload-text">
      <mat-card-title><h1>Extract Doc Image</h1></mat-card-title>
      <mat-card-subtitle>Memisahkan gambar dari dokumen word doc, docx</mat-card-subtitle>
    </div>
    <mat-card-content>
      <app-upload [mimeType]="'doc'"></app-upload>
    </mat-card-content>
  </mat-card>
</ng-container>

<ng-container *ngIf="statusHalaman == 'listFile'">
  <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap="16px" fxFlexFill>
    <div fxFlex.gt-sm="75%" fxFlex>
      <app-list-file [listFile]="hasilProses" [typeDownload]="typeDownload"></app-list-file>
    </div>
    <div fxFlex.gt-sm="25%" fxFlex style="display: flex;">
      <app-option-data></app-option-data>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="statusHalaman == 'download'">
  <app-download [paramDonwload]="dataDownload"></app-download>
</ng-container>

<ng-container *ngIf="statusHalaman == 'statusUpload' || statusHalaman == 'proses'">
  <app-proses [mode]="(statusHalaman == 'statusUpload' ? 'determinate' : 'indeterminate')"></app-proses>
</ng-container>

